.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 60%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5em 0;
  gap: 2em;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

#close-btn {
  margin: 2em 0;
  height: 3em;
  width: auto;
  padding: 0.25em 1.5em;
  background-color: royalblue;
  color: white;

  font-weight: 700;
  border-radius: 5px;
  border: 2px solid royalblue;
}

#close-btn:hover {
  background-color: #0b318f;
  border: 2px solid #0b318f;
}

#close-btn:disabled {
  background-color: grey;
  border: 2px solid grey;
  color: darkgray;
}

.tx-div {
  padding: 2em;

  border: 1px solid lightgrey;
  border-radius: 5px;
}

.tx-info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: 2em;
}

.modal-text {
  padding: 2em;
  font-weight: 500;
}

h1 {
  font-size: 30px;
  margin: 0;
}

.request-type,
.tx-hash,
.request,
.hash {
  font-weight: 500;
  font-size: 14px;
}

.request,
.hash {
  padding-top: 1em;
}
