.App {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Content {
  margin: 0;
  padding: 30px 65px;
  background-color: white;
}

.heading {
  font-size: 36px;
  font-weight: 650;
}

p {
  padding: 15px 0;
  font-size: 18px;
  font-weight: 500;
  width: 600px;
  line-height: 1.7em;
}
